<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo logo-font center" href="{{ site.url }}">{{ site.title }}</a>
      <a class="button-collapse sidenav-trigger" data-target="mobile-nav" href="#"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="logo-font" href="{{ site.url }}">Home</a></li>
        <li><a class="logo-font" href="{{ site.url }}/about/">About</a></li>
        <li><a class="dropdown-button dropdown-trigger" href="#!" data-target="dropdown-menu" data-beloworigin="true"><span class="logo-font">Others</span><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="dropdown-content" id="dropdown-menu">
  <li><a class="logo-font" href="{{ site.url }}/archive/">Archive</a></li>
  <li><a class="logo-font" href="{{ site.url }}/authors/">Authors</a></li>
  <li><a class="logo-font" href="{{ site.url }}/categories/">Categories</a></li>
  <li><a class="logo-font" href="{{ site.url }}/tags/">Tags</a></li>
</ul>

<ul class="sidenav" id="mobile-nav">
  <li>
    <div class="user-view">
      <div class="background" style="background: #607d8b;">
        <img src="{{ site.url }}/assets/img/logo.png">
      </div>
      <img class="circle materialboxed" data-caption="{{ site.title }}" src="{{ site.url }}/assets/img/logo.png" />
      <span class="white-text name">{{ site.title }}</span>
      <span class="email"><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</span>
    </div>
  </li>
  <li><a class="subheader">Menu</a></li>
  <li><a href="{{ site.url }}">Home</a></li>
  <li><a href="{{ site.url }}/about/">About</a></li>
  <li><a href="{{ site.url }}/archive/">Archive</a></li>
  <li><a href="{{ site.url }}/authors/">Authors</a></li>
  <li><a href="{{ site.url }}/categories/">Categories</a></li>
  <li><a href="{{ site.url }}/tags/">Tags</a></li>
</ul>
